# pnpm workspace
shamefully-hoist=false
strict-peer-dependencies=false

# Node modules
node-linker=pnpm

# Install
auto-install-peers=true
prefer-workspace-packages=true

# CI defaults
ignore-scripts=false
